*{
    padding: 0;
	margin: 0;
	font-family: 'Times New Roman', Times, serif;
	box-sizing: border-box;

}

.logo{
color: rgb(0, 0, 0);
font-size: 35px;
letter-spacing: 1px;
cursor: pointer;
}
span{
color: #f9004d;
}

button{
	background-color:#f9004d;
	color: rgb(0, 0, 0);
	text-decoration: none;
	border: 2px solid transparentc;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.cardweb{
	height: 200px;
	width: 250px;
	padding: 20px 35px;
	background: #464a4a;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.cardweb i {
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;
}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.cardweb .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.cardweb .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}




